body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('/src/assets/img/background.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #333;
}

header {
  background: white;
  color: #1161d8;
  padding: 1rem;
  text-align: center;
}

img {
  display: block;
  margin: 0 auto 1rem;
  
}

main {
  max-width: 950px;
  margin: 2rem auto;
  padding: 0 1rem;
}

.card {
  background: white;
  border-radius: 8px;
  padding: 1.5rem;
  margin-bottom: 2rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h3 {
    margin-top: 0;
    color: #1161d8;
    font-size: 20px;
}

#reportForm {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

label {
  width: 100%;
  font-weight: bold;
  font-size: 16px;
}

.select, .button_submit, button {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.select{
  width: 150px;
}
.button_submit, button {
  background: #1161d8;
  color: rgba(255, 255, 255, 0.863);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.3px;
  padding: 0.5rem 0.7rem;
  transition: background 0.3s;
  text-align: center; 
}

.dowload{
  color: white;
}
table {
  border-collapse: separate;
  border-spacing: 10px; /* espaço horizontal e vertical */
}

.button_submit:hover {
  background: darkblue;
}

.link_historico{
  color: rgb(93, 92, 92);
  cursor: pointer;
  padding:  1rem 0.5rem 0rem 0.5rem;
  text-align: end;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s;
}

.link_historico:hover{
  color: rgba(93, 92, 92, 0.722);
}
.card__bottom{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card__part{
  display: flex;
      gap: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 0.75rem;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.status {
  font-weight: bold;
}

.status.queued { color: gray; }
.status.running { color: orange; }
.status.succeeded { color: green; }
.status.failed { color: red; }

a.download {
  text-decoration: none;
  background: green;
  color: white;
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
}
